.playcards {
	display: inline-block;
}

.game-controls {
	position: relative;
	height: 110px;
}

.die {
	float: right;
	margin: 10px;
}

.roll_result {
	margin: 10px;
}

.next-round-button {
	margin: 10px;
}

.timer {
	float: right;
	margin: 10px;
}

.score {
	margin: 50px;
}

.rejected-button {
	background-color: red;
}

.rejected-input {
	text-decoration: line-through;
	background-color: lightgray;
}
